<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">FizzBuzz</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="get-fizzbuzz" class="nav-link">Run!!</a>
      </li>
      <li class="nav-item">
        <a routerLink="get-all-ok" class="nav-link">Get All Ok Request</a>
      </li>
      <li class="nav-item">
        <a routerLink="get-all-error" class="nav-link">Get All Error Request</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>